* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-inline: 32px;
}

nav {
  background-color: #333;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
}

.bar {
  width: 30px;
  height: 2px;
  background-color: red;
  margin: 4px 0;
  transition: 0.4s;
}

.hamburger.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 9px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -9px);
}

/* Media Query for Desktop */
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
