@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=PT+Sans+Narrow&family=Roboto:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

body {
  background-color: #333;
  font-family: "Roboto", sans-serif;
}

/* VARIABLES */

:root {
  --primary-font-color: #fafafa;
  --secondary-font-color: #101010;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #202020;
}

/* UTILITY CLASSES */

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.section-title {
  font-weight: 300;
  font-size: 32px;
  text-transform: uppercase;
  position: relative;
  padding: 20px;
  margin-block: 40px;
}

.section-title::after {
  content: "";
  background-color: var(--primary-font-color);
  width: 38px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -19px;
}

.no-scroll {
  overflow-y: hidden;
}

.text-center {
  text-align: center;
}

/* NAV */

.hamburger-wrapper {
  background-color: var(--secondary-bg-color);
  width: 100%;
  height: 90px;
  z-index: 10;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
  z-index: 99;
  position: absolute;
  top: 25px;
  right: 20px;
}

.hamburger .bar {
  width: 25px;
  height: 2px;
  background-color: var(--primary-bg-color);
  margin: 4px 0;
  transition: 0.4s;
}

.hamburger.active {
  position: fixed;
}

.hamburger.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 9px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -9px);
}

.nav {
  background-color: var(--secondary-bg-color);
  font-weight: 300;
  white-space: nowrap;
  z-index: 10;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.nav > * {
  color: var(--primary-font-color);
}

.nav p {
  text-transform: uppercase;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100dvh;
  height: 100dvh;
  display: block;
  padding-top: 10px;
  transition: 0.5s;
  overflow-y: scroll;
}

.mobile-nav > * {
  display: block;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 12px 16px;
  text-decoration: none;
}

.mobile-nav p:nth-child(2) {
  color: rgb(245, 86, 46);
}

.mobile-nav.active {
  left: 0;
}

.desktop-nav {
  display: none;
}

.login {
  text-transform: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 15px;
}

.avatar-pic {
  width: 30px;
  height: auto;
  border-radius: 50%;
  margin-inline: auto;
}

.social-links {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;
  padding-top: 40px;
  gap: 10px;
}

.fa {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .desktop-nav {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    padding-left: 9%;
    padding-right: 5%;
    position: fixed;
    top: -2px;
    width: 100%;
    z-index: 99;
  }

  .desktop-nav > * {
    margin-inline: 2.5%;
    text-decoration: none;
  }

  .hamburger-wrapper {
    display: none;
  }
}

/* HERO SECTION */

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/car-hero2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(105dvh + 90px);
  color: var(--primary-font-color);
  text-transform: uppercase;
  z-index: 10;
}

.hero-objects {
  padding-top: 40px;
}

.logo {
  width: 150px;
  height: auto;
  margin-inline: auto;
  filter: brightness(0) invert(1);
  z-index: 97;
}

.hero-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 600;
  font-size: 50px;
}

.hero-details {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2.5px;
}

.desktop-social-links {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 90px;
    padding-bottom: 90px;
    background-attachment: fixed;
    position: relative;
  }

  .logo {
    width: 180px;
  }

  .hero-title {
    font-size: 60px;
  }

  .hero-details {
    font-size: 20px;
  }

  .desktop-social-links {
    display: flex;
    position: absolute;
    bottom: 80px;
    gap: 28px;
    width: 100%;
    justify-content: center;
  }

  .fa {
    font-size: 42px;
  }
}

/* SERVICES SECTION */

.parallax {
  position: relative;
  z-index: 0;
  min-height: 1200px;
  display: grid;
  top: -300px;
  grid-template-areas: "stack";
}

.parallax > * {
  grid-area: stack;
}

.parallax > img {
  width: 100%;
}

.services-header {
  z-index: 20;
  color: var(--primary-font-color);
  position: absolute;
  width: 100%;
  margin-inline: auto;
  top: 150px;
}

.services-list {
  display: flex;
  flex-flow: column;
  row-gap: 30px;
  position: absolute;
  top: 300px;
  margin-inline: auto;
  width: 100%;
}

.service-item {
  margin: 15px;
  z-index: 10;
  color: var(--primary-font-color);
}

.service-img {
  filter: brightness(0) invert(1);
  width: 140px;
  border: 3px solid var(--primary-font-color);
  border-radius: 50%;
  padding: 15px;
  margin-inline: auto;
}

.service-title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  margin: 20px;
  z-index: 11;
}

.service-details {
  font-weight: 300;
  font-size: 18px;
  margin-inline: auto;
}

.parallax-bg {
  min-height: 120%;
  width: 100%;
  object-fit: cover;
}

.service-item:nth-of-type(1) .service-details:nth-of-type(1) {
  max-width: 140px;
}

.service-item:nth-of-type(2) .service-details:nth-of-type(1) {
  max-width: 230px;
}
.service-item:nth-of-type(3) .service-details:nth-of-type(1) {
  max-width: 220px;
}

@media screen and (min-width: 768px) {
  .parallax {
    top: 0;
    min-height: 300px;
  }

  .services-header {
    z-index: 20;
    color: var(--primary-font-color);
    position: absolute;
    width: 100%;
    margin-inline: auto;
    top: 60px;
  }

  .services-list {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    column-gap: 10px;
    top: 210px;
    z-index: 2;
  }

  .service-item {
    width: 220px;
  }

  .parallax-bg {
    min-height: 300px;
    height: 600px;
  }
}

.parallax-section {
  height: 100%;
  overflow: hidden;
}

.parallax-wrapper {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
  transform-style: inherit;
}

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(0.25px) scale(0.75) translateX(-94%) translateY(-100%)
    rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240, 230, 220, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

img:last-of-type {
  transform: translateZ(0.4px) scale(0.6) translateX(-104%) translateY(-40%)
    rotate(-5deg);
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.7);
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240, 230, 220, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n + 1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide,
.slide:before {
  background: 50% 50% / cover;
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-image: url("https://picsum.photos/640/480");
  z-index: 2;
}

#title h1 {
  transform: translateZ(0.25px) scale(0.75);
  transform-origin: 50% 100%;
}

#slide1:before {
  background-image: url("https://picsum.photos/960/520");
  transform: translateZ(-1px) scale(2);
}

#slide2 {
  background-image: url("https://picsum.photos/960/400");
  z-index: 2;
}

#slide3:before {
  background-image: url("https://picsum.photos/980/600");
  transform: translateZ(-1px) scale(2);
}

#slide4 {
  background: #222;
}

.gallery-section {
  background-color: var(--primary-bg-color);
  height: 600px;
  z-index: 30;
  overflow: hidden;
}

footer {
  min-height: 1500px;
}
